<div class="row">
	<div class="col-lg-5 col-lg-offset-3">
        <div class="input-group">
            <span class="input-group-addon">网站域名</span>
            <input type="text" class="form-control" ng-model="domainName" placeholder="www.example.com" required>
        </div>
        <div message></div><br /><br />
	</div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div ><input type="radio" class="col-lg-6" style="margin: 20px;" ng-model="siteType" value="phpwind" />
                <img style="height: 50px;" src="../../images/PHP.png" alt="PHP Image" class="img-rounded img-responsive">
        </div>
        <div><br />phpwind<br />
            <select  ng-model="phpwind_version">
                <option value="0">--版本选择--</option>
                <option ng-repeat="version in phpwind_versions" value="{{version}}">{{version}}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div ><input type="radio" class="col-lg-6" style="margin: 20px;" ng-model="siteType" value="Discuz" />
            <img style="height: 50px;" src="../../images/PHP.png" alt="PHP Image" class="img-rounded img-responsive">
        </div>
        <div><br />Discuz<br />
            <select  ng-model="discuz_version">
                <option value="0">--版本选择--</option>
                <option ng-repeat="version in discuz_versions" value="{{version}}">{{version}}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div ><input type="radio" class="col-lg-6" style="margin: 20px;" ng-model="siteType" value="dedecms" />
            <img style="height: 50px;" src="../../images/PHP.png" alt="PHP Image" class="img-rounded img-responsive">
        </div>
        <div><br />Dedecms<br />
            <select  ng-model="dedecms_version">
                <option value="0">--版本选择--</option>
                <option ng-repeat="version in dedecms_versions" value="{{version}}">{{version}}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div ><input type="radio" class="col-lg-6" style="margin: 20px;" ng-model="siteType" value="other" />
            <img style="height: 50px;" src="../../images/PHP.png" alt="PHP Image" class="img-rounded img-responsive">
        </div>
        <!--<div><br />Discuz<br />
            <select  ng-model="discuz_version">
                <option value="0">--版本选择--</option>
                <option ng-repeat="version in discuz_versions" value="{{version}}">{{version}}</option>
            </select>
        </div>-->
    </div>
</div><br/><br/>

  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;数据库编码:&nbsp;&nbsp;&nbsp;&nbsp;
  <label><input type="radio" ng-model="charsetOpt"  value="utf-8" />UTF-8</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label><input type="radio" ng-model="charsetOpt"  value="gbk2312" />GBK</label>
</div>
<br/><br/><br/>
<div class="row">
	<button  type="submit" id="login" class="btn btn-primary btn-lg col-lg-2 col-lg-offset-5"  ng-click="submit()">开始建站</button>
</div>

