<div class="row">
  <div class="" >
    <table class="table table-striped">  
      <thead>  
        <tr>
          <th>软件名称</th>  
          <th>软件简介</th>
          <th>安装进度</th>  
        </tr>  
      </thead> 
      <tbody>  
        <tr>  
          <td style="width:10px;text-align: center;">MySQL</td>  
          <td style="width:60px;text-align: center;"><h6>MySQL是世界上最流行的开源数据库。无论您是一个快速成长的Web应用企业，独立软件开发商或是大型企业，MySQL都能经济有效地帮助您交付高性能，可扩展的数据库应用。</h6></td> 
          <td style="width:50px;text-align: center;">安装完成</td>
        </tr>
        <td style="width:10px;">MySQL</td>  
          <td style="width:60px;">MySQL introduction</td> 
          <td style="width:50px;">正在安装...</td>
        </tr>
        <tr>  
          <td style="width:10px;">Httpd</td>  
          <td style="width:60px;">Httpd introduction</td> 
          <td style="width:50px;">等待安装</td>
        </tr>
        <tr>  
          <td style="width:10px;">Httpd</td>  
          <td style="width:60px;">Httpd introduction</td> 
          <td style="width:50px;">等待安装</td>
        </tr>
        <tr>  
          <td style="width:10px;">Httpd</td>  
          <td style="width:60px;">Httpd introduction</td> 
          <td style="width:50px;">等待安装</td>
        </tr>
        <tr>  
          <td style="width:10px;">Httpd</td>  
          <td style="width:60px;">Httpd introduction</td> 
          <td style="width:50px;">等待安装</td>
        </tr>
      </tbody>  
    </table> 
  </div>
</div>