<div class="row">
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<ul class="ring clearfix">
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img1.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img2.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img3.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img4.png" /></a></li>
<li><a href="#"><!-- 4444<label>55555</label> --><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img5.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img6.png" /></a></li>
<li><a href="#"><!-- <label>55555</label> --><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/img5.png" /></a></li><!-- 这个是中间的图片 -->
</ul>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<!-- <div class="row"><br /><br />
	<div class="col-lg-3 col-lg-offset-2"><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-3 col-lg-offset-1"><img src="http://placehold.it/120x120" alt="" class="img-circle img-responsive">
	</div>
</div>
<div class="row"><br /><br /><br />
	<div class="col-lg-3 "><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-3 col-lg-offset-1"><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-3 col-lg-offset-1"><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
</div>
<div class="row"><br /><br /><br />
	<div class="col-lg-3 col-lg-offset-2"><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-3 col-lg-offset-1"><img src="http://placehold.it/120x120" alt="..." class="img-circle img-responsive"></div>
</div> -->
