<div class="row">
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<ul class="ring clearfix">
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/01.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/02.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/03.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/04.png" /></a></li>
<li><a href="#"><!-- 4444<label>55555</label> --><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/05.png" /></a></li>
<li><a href="#"><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/06.png" /></a></li>
<li><a href="#"><!-- <label>55555</label> --><img style="width:150px;" class="img-circle img-responsive" src="../../images/ring-nav/00.png" /></a></li><!-- 这个是中间的图片 -->
</ul>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
