<div class="row"><br /><br />
	<div class="col-lg-2 col-lg-offset-2"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-2 col-lg-offset-1"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive">
	</div>
</div>
<div class="row"><br /><br /><br />
	<div class="col-lg-2"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-2 col-lg-offset-1"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-2 col-lg-offset-1"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
</div>
<div class="row"><br /><br /><br />
	<div class="col-lg-2 col-lg-offset-2"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
	<div class="col-lg-2 col-lg-offset-1"><img src="http://placehold.it/90x90" alt="..." class="img-circle img-responsive"></div>
</div>