<div class="row">
  <div class="" >
    <table class="table">  
    <caption class="pull-left"><h5>一键LNMP</h5></caption>   
      <tbody>  
        <tr>  
          <td style="width:10px;">MySQL</td>  
          <td style="width:60px;">MySQL introduction</td> 
          <td style="width:50px;">安装完成</td>
        </tr>
        <td style="width:10px;">MySQL</td>  
          <td style="width:60px;">MySQL introduction</td> 
          <td style="width:50px;">正在安装...</td>
        </tr>
        <tr>  
          <td style="width:10px;">Httpd</td>  
          <td style="width:60px;">Httpd introduction</td> 
          <td style="width:50px;">等待安装</td>
        </tr>
      </tbody>  
    </table> 
  </div>
</div>