<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

  <div class="text-center"><h4>One Key Move</h4></div>
   <div class="form-group">
    <label for="inputEmail3" class="col-lg-3 control-label">Email</label>
    <div class="col-lg-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="email">
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-lg-3 control-label">Username</label>
    <div class="col-lg-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="usernamel">
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-lg-3 control-label">SSH port</label>
    <div class="col-lg-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="SSH port">
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-lg-3 control-label">Database Name</label>
    <div class="col-lg-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="database name">
    </div>
  </div>
  <div class="text-center"><a class="btn btn-primary " href="#/sites/onekey/start-moving">start move</a></div>
</div>
</div>