<div class="row">
	<table class="table table-striped">
      <thead><th>item name</th><th>result</th><th>result</th></thead>
      <tbody>  
        <tr>
          <td>step one</td>
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>
          <td>step one</td>
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr> 
          <td>step one</td>
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>
          <td>step one</td>
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>
          <td>step one</td>
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>  
    </tbody>
</table>
    <a class="btn btn-primary pull-right" href="#/sites/onekey/start-moving">finish moved</a>
</div>