<div class="row">
    <h3>如何使用一键优化？</h3>
    <img src="http://placehold.it/300x150">
    1234567890
</div>
<div class="row">
    <h4>分享使用一键优化</h4>
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_32x32">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
</div>
<div class="row">
    <h4>Title demo</h4>
    <textarea cols="100" rows="3"></textarea>

</div>
<!--<div ng-controller="AlertDemoCtrl">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>-->
