<div class="row">
    <table id="sys_base_info" class="table table-striped">
        <thead><th></th><th>软件名称</th><th>简介</th><th>启用率</th><th>建议开启/关闭</th></thead>
        <tbody>
        <tr>
            <td style="width:50px"><input type="checkbox" name="secPack" ng-model="var1"></td>
            <td style="width:100px">mod_security</td>
            <td >Introduction</td>
            <td >Introduction</td>
            <td >Introduction</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="secPack"  ng-model="var2"></td>
            <td >MySQL</td>
            <td >Introduction</td>
            <td >Introduction</td>
            <td >Introduction</td>
        </tr>
        <tr>
            <td><input type="checkbox"  name="secPack" ng-model="var3"></td>
            <td >MySQL</td>
            <td >Introduction</td>
            <td >Introduction</td>
            <td >Introduction</td>
        </tr>
        <tr>
            <td><input type="checkbox"  name="secPack" ng-model="var4"></td>
            <td >MySQL</td>
            <td >Introduction</td>
            <td >Introduction</td>
            <td >Introduction</td>
        </tr>
        <tr>
            <td><input type="checkbox"  name="secPack" ng-model="var5"></td>
            <td >MySQL</td>
            <td >Introduction
            <td >Introduction</td>
            <td >Introduction</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="select_all();">全选</button>/<button ng-click="cancel_all();">取消</button>
    <button class="pull-right">开始安装</button>
</div>