<div class="row">
	<table id="sys_base_info" class="table table-striped">  
      <!-- <caption class="pull-left"><h4></h4></caption>   -->
      <thead><th><!-- <input type="checkbox" ng-model="all_selected"> --></th><th>软件名称</th><th>Introduction</th></thead>
      <tbody>  
        <tr>
          <td style="width:50px"><input type="checkbox" ng-model="var1"></td>    
          <td style="width:100px">MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>    
        	<td><input type="checkbox" ng-model="var2"></td> 
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr> 
        <td><input type="checkbox" ng-model="var3"></td>    
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>   
        <td><input type="checkbox" ng-model="var4"></td>  
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>
        <tr>   
        <td><input type="checkbox" ng-model="var5"></td>  
          <td >MySQL</td> 
          <td >Introduction</td>
        </tr>  
    </tbody>
</table>
    <button ng-click="select_all();">select all</button>/<button ng-click="cancel_all();">cancel all</button>
    <button class="pull-right">start backup</button>
</div>
