html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px;
  padding: 65px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button{
	background-color: #FB7D3C;
}
.form-signin button:hover{
	background-color: #4D94C0;
}
.form-signin div a:visited{color: #000081}
.form-signin div a:hover{color: #0000FF; TEXT-DECORATION:none;}

#footer {
  height: 40px;
  margin-top: 60px;
  background-color: #FFFFFF;
}

/* 导航中heading的颜色样式 */
h4 > a:link {color:#FFFFFF;}    /* unvisited link */
h4 > a:visited {color:#FFFFFF;} /* visited link */
h4 > a:hover {color:#FFFFFF; text-decoration: none;}   /* mouse over link */
h4 > a:active {color:#FFFFFF;}  /* selected link */


.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.table > thead > tr > th , 
.table > tbody > tr > td {
  text-align: center;
}

.table > tbody > tr > td {
   color: #999;
}
#sys_base_info > tbody > tr > td {
  font-size: 90%;
}

.ring {position:relative;margin:0 auto;width:150px;margin-left: 220px;}
.ring li a {position:absolute;right:0;top:0;}
.ring li {
position:absolute;
top:0;
left:0;
height:150px;
width:350px;
opacity:0;
z-index:1;
list-style: none;

-webkit-transform-origin:75px 75px;
-moz-transform-origin:75px 75px;
-ms-transform-origin:75px 75px;
-o-transform-origin:75px 75px;
transform-origin:75px 75px;

-webkit-transition:-webkit-transform 2s,opacity 2s;
-moz-transition:-moz-transform 2s,opacity 2s;
-ms-transition:-ms-transform 2s,opacity 2s;
-o-transition:-o-transform 2s,opacity 2s;
transition:transform 2s,opacity 2s;
}
.ring li:last-child {z-index:2;opacity:1;width:150px !important; }

@media \0screen\,screen\9 {
.ring li {filter:alpha(opacity=0); }
.ring .fixed {filter:alpha(opacity=100);}
}

.ring li{opacity:1;

}

.ring li:nth-child(1) {
-webkit-transform:rotate(60deg);
-moz-transform:rotate(60deg);
-ms-transform:rotate(60deg);
-o-transform:rotate(60deg);
transform:rotate(60deg);
}

.ring li:nth-child(2) {
-webkit-transform:rotate(120deg);
-moz-transform:rotate(120deg);
-ms-transform:rotate(120deg);
-o-transform:rotate(120deg);
transform:rotate(120deg);
}

.ring li:nth-child(3) {
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
transform:rotate(180deg);
}

.ring li:nth-child(4) {
-webkit-transform:rotate(240deg);
-moz-transform:rotate(240deg);
-ms-transform:rotate(240deg);
-o-transform:rotate(240deg);
transform:rotate(240deg);
}

.ring li:nth-child(5) {
-webkit-transform:rotate(300deg);
-moz-transform:rotate(300deg);
-ms-transform:rotate(300deg);
-o-transform:rotate(300deg);
transform:rotate(300deg);
}

.ring li:nth-child(6) {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
}

