<div id="mainBoard">

<div id="myCarousel" class="carousel slide"> 
  <ol class="carousel-indicators"> 
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
    <li data-target="#myCarousel" data-slide-to="1"></li> 
    <li data-target="#myCarousel" data-slide-to="2"></li> 
  </ol> 
    <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片1</div> 
        </div> 
        <div class="item"> 
        <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片2</div> 
        </div> 
        <div class="item"> 
        <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片3</div> 
        </div> 
  </div> 
</div> 

<div class="col-lg-8">
  <table class="table">  
    <caption class="pull-left"><h5>服务管理</h5></caption>   
      <tbody>  
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">Nginx</td> 
          <td style="width:30px;"><span class="label label-success">已安装</span></td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">MySQL</td> 
          <td style="width:30px;"><span class="label label-success">已安装</span></td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">php-fpm</td> 
          <td style="width:30px;"><span class="label label-warning">未安装</span></td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default">安装服务</button>
            </div>
          </td>  
        </tr>
      </tbody>
    </table>
    <table class="table" style="margin-top: -20px;">
      <tbody>
        <tr>  
          <td style="width:50px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default">启动所有服务</button>
            </div>
          </td> 
          <td style="width:50px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default">停止所有服务</button>
            </div>
          </td> 
          <td style="width:50px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default">重启所有服务</button>
            </div>
          </td> 
        </tr>
      </tbody>  
    </table> 
  </div> 
  <div class="col-lg-4">
    <p>22222222222222
      2
      2222222222222222222222
      2222222222222222222222
      2222222222222222222</p>
  </div>
  <div class="col-lg-8">
  <table class="table">  
    <caption class="pull-left"><h5> 相关目录</h5></caption>   
      <tbody>  
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;"> 网站目录:</td> 
          <td style="width:70px;"></td>
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;">Nginx目录:</td> 
          <td style="width:70px;"></td>
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;">PHP目录:</td> 
          <td style="width:70px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <table id="sys_base_info" class="table">  
      <caption class="pull-left"><h5> 系统信息</h5></caption>   
      <tbody>  
        <tr>    
          <td >OS发行版:</td> 
          <td >{{sys_info.os_dist}}</td>
        </tr>
        <tr>  
          <td >系统运行时间:</td> 
          <td >{{sys_info.run_time}}</td>
        </tr>
        <tr>    
          <td >CPU负载:</td> 
          <td >{{sys_info.cpu_load}}</td>
        </tr>
        <tr>    
          <td >内存使用率:</td> 
          <td >{{sys_info.memory_usage}}</td>
        </tr>
        <tr><td>硬盘已用空间</td><td></td></tr>
        <tr ng-repeat="disk in sys_info.disk_info"> 
          <td ng-show=disk['used_rate']>{{disk.mount}}</td>
          <td ng-show=disk['used_rate']>{{disk.used_rate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready(function(){
      $('#myCarousel').carousel({
        interval: 3000
      });
    })
</script>


