<div id="mainBoard">

<div id="myCarousel" class="carousel slide"> 
  <ol class="carousel-indicators"> 
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
    <li data-target="#myCarousel" data-slide-to="1"></li> 
    <li data-target="#myCarousel" data-slide-to="2"></li> 
  </ol> 
    <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片1</div> 
        </div> 
        <div class="item"> 
        <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片2</div> 
        </div> 
        <div class="item"> 
        <img src="images/scroll.png" alt=""> 
            <div class="carousel-caption">图片3</div> 
        </div> 
  </div> 
</div> 

<div class="col-lg-8">
  <table class="table">  
    <caption class="pull-left"><h5>服务管理</h5></caption>   
      <tbody>  
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">host虚拟主机全局运行</td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">host虚拟主机全局运行</td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">host虚拟主机全局运行</td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:80px;">host虚拟主机全局运行</td> 
          <td style="width:30px;">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
              <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
          </td>  
        </tr>
      </tbody>  
    </table> 
  </div> 
  <div class="col-lg-4">
    <p>22222222222222
      2
      22222222222222222222222
      222222222222222222
      22222222222222222222
      222222222222
      2222222222222222222222
      2222222222222222222</p>
  </div>
  <div class="col-lg-8">
  <table class="table">  
    <caption class="pull-left"><h5> 相关目录</h5></caption>   
      <tbody>  
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;"> 网站目录:</td> 
          <td style="width:70px;"></td>
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;">Nginx目录:</td> 
          <td style="width:70px;"></td>
        </tr>
        <tr>  
          <td style="width:10px;"><small><span class="glyphicon glyphicon-chevron-right"></span></small></td>  
          <td style="width:50px;">PHP目录:</td> 
          <td style="width:70px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <p>111111111111111111111111111
      1111111111111111111111111111
      1111111111111111111111111111
      1111111111111111111111111111
      111111111111111111111111111
      1111111111111111111111111111
      1111111111111111111111111
      11111111111111111111111111
      1111111111111111111111111
      1111111
      111111111111111111111111111
      111111111111111111111111
      11111111111111111111111111</p>
  </div>
</div>


<script>
    $(document).ready(function(){
      $('#myCarousel').carousel({
        interval: 3000
      });
    })
</script>


