<div class="banner">
      <ul>
        <li >The jQuery slider that just slides
        </li>

        <li >Fluid, flexible, fantastically minimal.
        </li>

        <li >Open-source.
        </li>

        <li >Uh, that’s about it.
        </li>
      </ul>
</div>

<!-- notebar scroll-->
<script type="text/javascript" src="../lib/bootstrap/js/unslider.js"></script>
<script>
      if(window.chrome) {
        $('.banner li').css('background-size', '100% 100%');
      }

      $('.banner').unslider({
        arrows: true,
        fluid: true,
        dots: true
      });

      $('a[href^="#"]').click(function() {
        var target = $($(this).attr('href'));

        var pos = target.offset(); 

        if(pos) {
          $('html, body').animate({
            scrollTop: pos.top,
            scrollLeft: pos.left
          }, 1000);
        }
        return false;
      });

      var GoSquared = {acct: 'GSN-396664-U'};
</script>